.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.clickable {
    cursor: pointer;
}

.v-btn.fab-center,
.fab-center {
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 28px;
}

.mr-05 {
    margin-right: 2px;
}

.mt-05 {
    margin-top: 2px;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
}

.filter-drawer-content {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 40px;
}

.standard-line-height {
    line-height: 1rem !important;
}

/* Filter bar ===================================== */
.filter-expand-btn {
    position: absolute;
    left: 0;
    z-index: 5;
    height: 32px !important;
    width: 100%;
    bottom: -24px;
    overflow: hidden;
}

.filter-expand-btn .bar {
    position: absolute;
    left: 0;
    height: 6px;
    width: 100%;
}

.v-btn.fab-filter {
    top: -100%;
    padding-top: 32px;
    width: 50%;
    max-width: 250px;
    height: 200%;
}

.v-btn.fab-filter::before {
    opacity: 0 !important;
}

/* LOGIN ===================================== */
.Login {
    height: 100vh;
}

.LoginContainer {
    margin: 5%;
}

/* PAGES ===================================== */
.page-with-header {
    padding-top: 20px;
    /*max-width: 500px;*/
}

.section-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}

.transaction-details {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 300;
}

/* CREDITS ===================================== */
.nextit-credit {
    font-size: 11px;
    letter-spacing: 0.2em;
    line-height: 1.7em;
}

.nextit-credit small {
    font-size: 90%;
}