.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.clickable {
    cursor: pointer;
}

.v-btn.fab-center,
.fab-center {
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 28px;
}

.v-btn.fab-filter,
.fab-filter {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: -15px;
}

.mr-05 {
    margin-right: 2px;
}
.mt-05 {
    margin-top: 2px;
}

.highlight {
    background-color: rgba(255, 255, 0, 0.5);
}

.filter-drawer-content {
    max-height: 75vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 40px;
}

/* TOAST ===================================== */
.app-toast {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 1000;
    text-align: center;
    line-height: 22px;
}

.app-toast .v-icon.v-icon {
    font-size: 10px;
}

/* LOGIN ===================================== */
.Login {
    height: 100vh;
}

.LoginContainer {
    margin: 5%;
}

/* PAGES ===================================== */
.page-with-header {
    padding-top: 20px;
    /*max-width: 500px;*/
}

.section-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}

.transaction-details {
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 300;
}