.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.v-btn.fab-center,
.fab-center {
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    bottom: 28px;
}

.mr-05 {
    margin-right: 2px;
}
.mt-05 {
    margin-top: 2px;
}


/* TOAST ===================================== */
.app-toast {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 1000;
    text-align: center;
    line-height: 22px;
}

.app-toast .v-icon.v-icon {
    font-size: 10px;
}

/* LOGIN ===================================== */
.Login {
    height: 100vh;
}

.LoginContainer {
    margin: 5%;
}

/* PAGES ===================================== */
.page-with-header {
    padding-top: 20px;
    /*max-width: 500px;*/
}

.section-title {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1rem;
}
